.editor-description {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
}

.editor-container {
    margin-top: 10px;
    background: transparent;
    display: flex;
    text-align: center;
}

#input-area {
    margin-left: 10%;
    margin-right: 3px;
    resize: none;
    height: auto;
    font-size: 18px;
    border: solid 1px gray;
    width: 39.5%;
}

#output {
    resize: none;
    font-size: 18px;
    min-height: 600px;
    width: 39.5%;
    background-color: white;
    display: block;
    border: solid 1px gray;
    text-align: left;
}

.output-pre {
    margin-left: 15px;
}

.usage-container {
    margin-top: 55px;
    margin-left: 5%;
}

.span-hl {
    background-color: white;
    border: solid 1px black;
    padding: 1px;
}

.copy-button {
    margin-top: 2px;
    position: relative;
    left: 50%;
}

.invis-area {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

@media only screen and (max-width: 1550px) {
    #output {
        min-height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    #output {
        min-height: 300px;
    }
}