.editor-description {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#main-container {
    height: 90%;
}

.height-offset {
    height: 14%;
}

.editor-container {
    width: 33%;
    background: transparent;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

#start-button {
    width: 35px;
    height: 35px;
    border: solid 2px rgb(204, 204, 204);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    cursor: pointer;
}

#advanced-div {
    width: 300px;
    margin-top: 20px;
    text-align: left;
}

.advanced-key {
    max-width: 40%;
    min-width: 10%;
    line-height: 22px;
    border: 1px solid gray;
    padding: 3px;
    user-select: none;
}

.advanced-div>table {
    border-collapse: separate;
    border-spacing: 0.4px 1.5px;
}

.advanced-value {
    text-align: left;
}

.advanced-value-input {
    line-height: 22px;
    background-color: #333;
    border-color: #666;
    width: 195px;
}


#advanced-commands-div {
    margin-top: 15px;
    display: inline-block;
}

.invisible {
    visibility: hidden;
    user-select: none;
}

.start {
    background-image: url('start.png');
}

.stop {
    background-image: url('stop.png');
}

#gear-button {
    width: 35px;
    height: 35px;
    border-right: solid 2px rgb(204, 204, 204);
    border-top: solid 2px rgb(204, 204, 204);
    border-bottom: solid 2px rgb(204, 204, 204);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    cursor: pointer;
    background-image: url('gear.png');
}

.buttons-div {
    display: flex;
}

.commands-div {
    text-align: left;
    margin-top: 35px;
    width: 300px;
    user-select: none;
}

.command {
    border: solid 2px rgb(128, 128, 128);
    border-radius: 4px;
    padding: 3px 7px;
    user-select: none;
    cursor: pointer;
}

.command:hover {
    background-color: rgb(95, 95, 97);
}

.command-active {
    background-color: rgb(65, 65, 79);
}

#results-div {
    width: 300px;
    text-align: left;
    padding: 5px;
    line-height: 10px;
    border: solid 1px rgba(204, 204, 204, 0.41);
    border-radius: 3px;
    margin-top: 15px;
    min-height: 38px;
    user-select: none;
}

#selected-div {
    width: 100%;
    text-align: center;
}

.selected-container {
    display: block;
}

.selected-text {
    display: block;
}

.status-div {
    display: block;
    justify-content: center;
}

.status-text {
    margin-left: 10px;
    display: block;
}

.ping-result {
    text-align: left;
    display: inline-block;
    height: 24px;
    width: 24px;
    font-size: small;
    border-radius: 2.5px;
    margin: 1px;
}

:root {
    --progress-border-color: rgb(144, 144, 144);
    --red: rgb(255, 0, 0);
    --green: rgb(16, 149, 16);
    --yellow: rgb(255, 255, 0);
    --orange: rgb(255, 69, 0);
    --gray: rgb(99, 94, 94);
    --clicked-event: rgb(255, 255, 255);
    --start-button: rgb(204, 204, 204);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.orange {
    background-color: var(--orange);
}

.gray {
    background-color: var(--gray);
}

.clicked-event {
    background-color: var(--clicked-event);
}

.flash {
    animation: flashAnimation 900ms 1;
}

@keyframes flashAnimation {
    0% {
        background-color: rgba(16, 149, 16, 0);
    }

    30% {
        background-color: rgba(16, 149, 16, 1);
    }

    50% {
        background-color: rgba(16, 149, 16, 0.5);
    }

    100% {
        background-color: rgba(16, 149, 16, 0);
    }
}

#progress-bar-holder {
    width: 300px;
    height: 18px;
    margin-top: 20px;
    padding: 3px;
}

#progress-bar {
    height: 10px;
    width: 100%;
    background-color: var(--start-button);
    border-radius: 1.5px 0 0 1.5px;
}

.progress-bar-active {
    border: solid 1px var(--start-button);
    border-radius: 3px;
}

@keyframes updateProgress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media only screen and (max-width: 968px) {
    .editor-container {
        width: 80%;
    }
}

@media (hover: none) {
    .command:hover {
        background-color: unset;
    }
}