.editor-description {
    text-align: center;
    font-size: 22px;
    margin-top: 4px;
    margin-bottom: 45px;
}

.editor-container {
    background: transparent;
    display: flex;
}

#main-container {
    width: 50%;
    margin: 0 auto;
}

.input-container {
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10px;
}

#input-area {
    display: block;
    height: 220px;
    width: 750px;
    max-width: 750px;
    font-size: 18px;
    border: solid 1px gray;
    margin-left: auto;
    margin-right: auto;
}

#output-area {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    min-height: 175px;
    width: 750px;
    max-width: 750px;
    background-color: white;
    display: block;
    border: solid 1px gray;
}

#output {
    margin-left: 13px;
}

.ascii-span {
    width: 26px;
    height: 35px;
    line-height: 35px;
    font-size: 21px;
    text-align: center;
    margin: 2px 2px 2px 1px;
    display: inline-block;
    background-color: rgb(119, 220, 93);
    border-radius: 4px;
}

.non-ascii-span {
    width: 26px;
    height: 35px;
    line-height: 35px;
    font-size: 21px;
    text-align: center;
    margin: 2px 2px 2px 1px;
    display: inline-block;
    background-color: rgb(241, 124, 104);
    border-radius: 4px;
}

.invisible-char {
    visibility: hidden;
}

#next-occurrence {
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 23%;
    background: rgb(241, 124, 104);
    height: 35px;
    line-height: 35px;
    display: none;
    border: solid 1.3px black;
}

.highlighted-span-begin {
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
}

.highlighted-span {
    border-bottom: solid 3px black;
    border-top: solid 3px black;
}

.highlighted-span-end {
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    border-right: solid 3px black;
}

#chunked {
    text-align: center;
    display: none;
    margin-bottom: -6px;
}

.arrow-right {
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.arrow-left {
    background-image: url('arrow.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#chunk-count {
    min-width: 15px;
    line-height: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px black;
    font-size: 16px;
    user-select: none;
    margin-left: 6px;
    margin-right: 6px;
}

.chunks-indicator {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
